In [79]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [80]:
prefix = "https://s3.amazonaws.com/codecademy-content/courses/beautifulsoup/"
webpage_response = requests.get('https://s3.amazonaws.com/codecademy-content/courses/beautifulsoup/shellter.html')

webpage = webpage_response.content
soup = BeautifulSoup(webpage, "html.parser")

In [81]:
turtle_links = soup.find_all("a")
links = []
#go through all of the a tags and get the links associated with them"
for a in turtle_links:
    links.append(prefix+a["href"])

In [82]:
#Define turtle_data:
turtle_data = {}
#follow each link:
for link in links:
  webpage = requests.get(link)
  turtle = BeautifulSoup(webpage.content, "html.parser")
  turtle_name = turtle.select(".name")[0].get_text()
  
  stats = turtle.find("ul")
  stats_text = stats.get_text("|")
  turtle_data[turtle_name] = stats_text.split("|")

In [83]:
turtle_df = pd.DataFrame.from_dict(turtle_data,orient ="index")
print(turtle_df.head())
print(turtle_df.columns)
print(turtle_df.dtypes)
turtle_df = turtle_df.drop(turtle_df.columns[-1], axis=1)

print(turtle_df.head())

        0                 1   2              3   4            5   6   \
Aesop   \n  AGE: 7 Years Old  \n  WEIGHT: 6 lbs  \n  SEX: Female  \n
Caesar  \n  AGE: 2 Years Old  \n  WEIGHT: 4 lbs  \n    SEX: Male  \n
Sulla   \n   AGE: 1 Year Old  \n   WEIGHT: 1 lb  \n    SEX: Male  \n
Spyro   \n  AGE: 6 Years Old  \n  WEIGHT: 3 lbs  \n  SEX: Female  \n
Zelda   \n  AGE: 3 Years Old  \n  WEIGHT: 2 lbs  \n  SEX: Female  \n

                                            7   8   \
Aesop   BREED: African Aquatic Sideneck Turtle  \n
Caesar                   BREED: Greek Tortoise  \n
Sulla   BREED: African Aquatic Sideneck Turtle  \n
Spyro                    BREED: Greek Tortoise  \n
Zelda                BREED: Eastern Box Turtle  \n

                                  9   10
Aesop     SOURCE: found in Lake Erie  \n
Caesar      SOURCE: hatched in house  \n
Sulla     SOURCE: found in Lake Erie  \n
Spyro       SOURCE: hatched in house  \n
Zelda   SOURCE: surrendered by owner  \n
RangeIndex(start=0, stop=11, step=1)
0     object
1     object
2     object
3     object
4     object
5     object
6     object
7     object
8     object
9     object
10    object
dtype: object
         0                 1   2              3   4            5   6  \
Aesop   \n  AGE: 7 Years Old  \n  WEIGHT: 6 lbs  \n  SEX: Female  \n
Caesar  \n  AGE: 2 Years Old  \n  WEIGHT: 4 lbs  \n    SEX: Male  \n
Sulla   \n   AGE: 1 Year Old  \n   WEIGHT: 1 lb  \n    SEX: Male  \n
Spyro   \n  AGE: 6 Years Old  \n  WEIGHT: 3 lbs  \n  SEX: Female  \n
Zelda   \n  AGE: 3 Years Old  \n  WEIGHT: 2 lbs  \n  SEX: Female  \n

                                             7   8  \
Aesop   BREED: African Aquatic Sideneck Turtle  \n
Caesar                   BREED: Greek Tortoise  \n
Sulla   BREED: African Aquatic Sideneck Turtle  \n
Spyro                    BREED: Greek Tortoise  \n
Zelda                BREED: Eastern Box Turtle  \n

                                   9
Aesop     SOURCE: found in Lake Erie
Caesar      SOURCE: hatched in house
Sulla     SOURCE: found in Lake Erie
Spyro       SOURCE: hatched in house
Zelda   SOURCE: surrendered by owner

In [84]:

turtle_df2 = turtle_df.drop(turtle_df.columns[8],axis=1)

print(turtle_df2.head())
print(turtle_df2.dtypes)

         0                 1   2              3   4            5   6  \
Aesop   \n  AGE: 7 Years Old  \n  WEIGHT: 6 lbs  \n  SEX: Female  \n
Caesar  \n  AGE: 2 Years Old  \n  WEIGHT: 4 lbs  \n    SEX: Male  \n
Sulla   \n   AGE: 1 Year Old  \n   WEIGHT: 1 lb  \n    SEX: Male  \n
Spyro   \n  AGE: 6 Years Old  \n  WEIGHT: 3 lbs  \n  SEX: Female  \n
Zelda   \n  AGE: 3 Years Old  \n  WEIGHT: 2 lbs  \n  SEX: Female  \n

                                             7                             9
Aesop   BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
Caesar                   BREED: Greek Tortoise      SOURCE: hatched in house
Sulla   BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
Spyro                    BREED: Greek Tortoise      SOURCE: hatched in house
Zelda                BREED: Eastern Box Turtle  SOURCE: surrendered by owner
0    object
1    object
2    object
3    object
4    object
5    object
6    object
7    object
9    object
dtype: object

In [85]:
turtle_df3 = turtle_df2.drop(turtle_df2.columns[0],axis=1)
pd.set_option('display.max_columns', None)

print(turtle_df3.head())

                       1   2              3   4            5   6  \
Aesop   AGE: 7 Years Old  \n  WEIGHT: 6 lbs  \n  SEX: Female  \n
Caesar  AGE: 2 Years Old  \n  WEIGHT: 4 lbs  \n    SEX: Male  \n
Sulla    AGE: 1 Year Old  \n   WEIGHT: 1 lb  \n    SEX: Male  \n
Spyro   AGE: 6 Years Old  \n  WEIGHT: 3 lbs  \n  SEX: Female  \n
Zelda   AGE: 3 Years Old  \n  WEIGHT: 2 lbs  \n  SEX: Female  \n

                                             7                             9
Aesop   BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
Caesar                   BREED: Greek Tortoise      SOURCE: hatched in house
Sulla   BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
Spyro                    BREED: Greek Tortoise      SOURCE: hatched in house
Zelda                BREED: Eastern Box Turtle  SOURCE: surrendered by owner

In [86]:
turtle_df4 = turtle_df3.drop(turtle_df3.columns[1],axis=1).reset_index()

print(turtle_df4.head())

    index                 1              3   4            5   6  \
0   Aesop  AGE: 7 Years Old  WEIGHT: 6 lbs  \n  SEX: Female  \n
1  Caesar  AGE: 2 Years Old  WEIGHT: 4 lbs  \n    SEX: Male  \n
2   Sulla   AGE: 1 Year Old   WEIGHT: 1 lb  \n    SEX: Male  \n
3   Spyro  AGE: 6 Years Old  WEIGHT: 3 lbs  \n  SEX: Female  \n
4   Zelda  AGE: 3 Years Old  WEIGHT: 2 lbs  \n  SEX: Female  \n

                                        7                             9
0  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
1                   BREED: Greek Tortoise      SOURCE: hatched in house
2  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
3                   BREED: Greek Tortoise      SOURCE: hatched in house
4               BREED: Eastern Box Turtle  SOURCE: surrendered by owner

In [87]:
turtle_df5 = turtle_df4.drop(turtle_df4.columns[3],axis=1)
print(turtle_df5.head())

    index                 1              3            5   6  \
0   Aesop  AGE: 7 Years Old  WEIGHT: 6 lbs  SEX: Female  \n
1  Caesar  AGE: 2 Years Old  WEIGHT: 4 lbs    SEX: Male  \n
2   Sulla   AGE: 1 Year Old   WEIGHT: 1 lb    SEX: Male  \n
3   Spyro  AGE: 6 Years Old  WEIGHT: 3 lbs  SEX: Female  \n
4   Zelda  AGE: 3 Years Old  WEIGHT: 2 lbs  SEX: Female  \n

                                        7                             9
0  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
1                   BREED: Greek Tortoise      SOURCE: hatched in house
2  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
3                   BREED: Greek Tortoise      SOURCE: hatched in house
4               BREED: Eastern Box Turtle  SOURCE: surrendered by owner

In [88]:
turtle_df6 = turtle_df5.drop(turtle_df5.columns[4],axis=1)
print(turtle_df6.head())

final_df = turtle_df6
print(final_df)

    index                 1              3            5  \
0   Aesop  AGE: 7 Years Old  WEIGHT: 6 lbs  SEX: Female
1  Caesar  AGE: 2 Years Old  WEIGHT: 4 lbs    SEX: Male
2   Sulla   AGE: 1 Year Old   WEIGHT: 1 lb    SEX: Male
3   Spyro  AGE: 6 Years Old  WEIGHT: 3 lbs  SEX: Female
4   Zelda  AGE: 3 Years Old  WEIGHT: 2 lbs  SEX: Female

                                        7                             9
0  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
1                   BREED: Greek Tortoise      SOURCE: hatched in house
2  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
3                   BREED: Greek Tortoise      SOURCE: hatched in house
4               BREED: Eastern Box Turtle  SOURCE: surrendered by owner
       index                   1                3            5  \
0      Aesop    AGE: 7 Years Old    WEIGHT: 6 lbs  SEX: Female
1     Caesar    AGE: 2 Years Old    WEIGHT: 4 lbs    SEX: Male
2      Sulla     AGE: 1 Year Old     WEIGHT: 1 lb    SEX: Male
3      Spyro    AGE: 6 Years Old    WEIGHT: 3 lbs  SEX: Female
4      Zelda    AGE: 3 Years Old    WEIGHT: 2 lbs  SEX: Female
5  Bandicoot    AGE: 2 Years Old    WEIGHT: 2 lbs    SEX: Male
6        Hal     AGE: 1 Year Old  WEIGHT: 1.5 lbs  SEX: Female
7       Mock   AGE: 10 Years Old   WEIGHT: 10 lbs    SEX: Male
8    Sparrow  AGE: 1.5 Years Old  WEIGHT: 4.5 lbs  SEX: Female

                                        7                             9
0  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
1                   BREED: Greek Tortoise      SOURCE: hatched in house
2  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
3                   BREED: Greek Tortoise      SOURCE: hatched in house
4               BREED: Eastern Box Turtle  SOURCE: surrendered by owner
5  BREED: African Aquatic Sideneck Turtle      SOURCE: hatched in house
6               BREED: Eastern Box Turtle  SOURCE: surrendered by owner
7                   BREED: Greek Tortoise  SOURCE: surrendered by owner
8  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie

In [89]:
final_df.columns= ['name','age','weight','sex','breed','source']
print(final_df)

        name                 age           weight          sex  \
0      Aesop    AGE: 7 Years Old    WEIGHT: 6 lbs  SEX: Female
1     Caesar    AGE: 2 Years Old    WEIGHT: 4 lbs    SEX: Male
2      Sulla     AGE: 1 Year Old     WEIGHT: 1 lb    SEX: Male
3      Spyro    AGE: 6 Years Old    WEIGHT: 3 lbs  SEX: Female
4      Zelda    AGE: 3 Years Old    WEIGHT: 2 lbs  SEX: Female
5  Bandicoot    AGE: 2 Years Old    WEIGHT: 2 lbs    SEX: Male
6        Hal     AGE: 1 Year Old  WEIGHT: 1.5 lbs  SEX: Female
7       Mock   AGE: 10 Years Old   WEIGHT: 10 lbs    SEX: Male
8    Sparrow  AGE: 1.5 Years Old  WEIGHT: 4.5 lbs  SEX: Female

                                    breed                        source
0  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
1                   BREED: Greek Tortoise      SOURCE: hatched in house
2  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
3                   BREED: Greek Tortoise      SOURCE: hatched in house
4               BREED: Eastern Box Turtle  SOURCE: surrendered by owner
5  BREED: African Aquatic Sideneck Turtle      SOURCE: hatched in house
6               BREED: Eastern Box Turtle  SOURCE: surrendered by owner
7                   BREED: Greek Tortoise  SOURCE: surrendered by owner
8  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie

In [90]:
age_split_df = final_df['age'].str.split(':', expand=True)
print(age_split_df)

     0               1
0  AGE     7 Years Old
1  AGE     2 Years Old
2  AGE      1 Year Old
3  AGE     6 Years Old
4  AGE     3 Years Old
5  AGE     2 Years Old
6  AGE      1 Year Old
7  AGE    10 Years Old
8  AGE   1.5 Years Old

In [91]:
age_split_2 = age_split_df.get(1).str.split('(\s)', expand = True)
print(age_split_2)

age_split_2 = pd.to_numeric(age_split_2.get(2))
age_split_2

  0  1    2  3      4  5    6
0         7     Years     Old
1         2     Years     Old
2         1      Year     Old
3         6     Years     Old
4         3     Years     Old
5         2     Years     Old
6         1      Year     Old
7        10     Years     Old
8       1.5     Years     Old

0     7.0
1     2.0
2     1.0
3     6.0
4     3.0
5     2.0
6     1.0
7    10.0
8     1.5
Name: 2, dtype: float64

In [92]:
final_df['age'] = age_split_2
print(final_df)

        name   age           weight          sex  \
0      Aesop   7.0    WEIGHT: 6 lbs  SEX: Female
1     Caesar   2.0    WEIGHT: 4 lbs    SEX: Male
2      Sulla   1.0     WEIGHT: 1 lb    SEX: Male
3      Spyro   6.0    WEIGHT: 3 lbs  SEX: Female
4      Zelda   3.0    WEIGHT: 2 lbs  SEX: Female
5  Bandicoot   2.0    WEIGHT: 2 lbs    SEX: Male
6        Hal   1.0  WEIGHT: 1.5 lbs  SEX: Female
7       Mock  10.0   WEIGHT: 10 lbs    SEX: Male
8    Sparrow   1.5  WEIGHT: 4.5 lbs  SEX: Female

                                    breed                        source
0  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
1                   BREED: Greek Tortoise      SOURCE: hatched in house
2  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie
3                   BREED: Greek Tortoise      SOURCE: hatched in house
4               BREED: Eastern Box Turtle  SOURCE: surrendered by owner
5  BREED: African Aquatic Sideneck Turtle      SOURCE: hatched in house
6               BREED: Eastern Box Turtle  SOURCE: surrendered by owner
7                   BREED: Greek Tortoise  SOURCE: surrendered by owner
8  BREED: African Aquatic Sideneck Turtle    SOURCE: found in Lake Erie

In [93]:
wt_split_df = final_df['weight'].str.split(':', expand=True)
print(wt_split_df)

        0         1
0  WEIGHT     6 lbs
1  WEIGHT     4 lbs
2  WEIGHT      1 lb
3  WEIGHT     3 lbs
4  WEIGHT     2 lbs
5  WEIGHT     2 lbs
6  WEIGHT   1.5 lbs
7  WEIGHT    10 lbs
8  WEIGHT   4.5 lbs

In [94]:
wt_split_2 = wt_split_df.get(1).str.split('(\s)', expand = True)
print(wt_split_2)

  0  1    2  3    4
0         6     lbs
1         4     lbs
2         1      lb
3         3     lbs
4         2     lbs
5         2     lbs
6       1.5     lbs
7        10     lbs
8       4.5     lbs

In [95]:

final_df['weight'] = pd.to_numeric(wt_split_2.get(2))
final_df

,name,age,weight,sex,breed,source
0,Aesop,7.0,6.0,SEX: Female,BREED: African Aquatic Sideneck Turtle,SOURCE: found in Lake Erie
1,Caesar,2.0,4.0,SEX: Male,BREED: Greek Tortoise,SOURCE: hatched in house
2,Sulla,1.0,1.0,SEX: Male,BREED: African Aquatic Sideneck Turtle,SOURCE: found in Lake Erie
3,Spyro,6.0,3.0,SEX: Female,BREED: Greek Tortoise,SOURCE: hatched in house
4,Zelda,3.0,2.0,SEX: Female,BREED: Eastern Box Turtle,SOURCE: surrendered by owner
5,Bandicoot,2.0,2.0,SEX: Male,BREED: African Aquatic Sideneck Turtle,SOURCE: hatched in house
6,Hal,1.0,1.5,SEX: Female,BREED: Eastern Box Turtle,SOURCE: surrendered by owner
7,Mock,10.0,10.0,SEX: Male,BREED: Greek Tortoise,SOURCE: surrendered by owner
8,Sparrow,1.5,4.5,SEX: Female,BREED: African Aquatic Sideneck Turtle,SOURCE: found in Lake Erie

In [96]:
sex_split = final_df['sex'].str.split(':', expand=True)
breed_split = final_df['breed'].str.split(':', expand=True)
source_split = final_df['source'].str.split(':', expand=True)

print(sex_split)
print(breed_split)
source_split

     0        1
0  SEX   Female
1  SEX     Male
2  SEX     Male
3  SEX   Female
4  SEX   Female
5  SEX     Male
6  SEX   Female
7  SEX     Male
8  SEX   Female
       0                                 1
0  BREED   African Aquatic Sideneck Turtle
1  BREED                    Greek Tortoise
2  BREED   African Aquatic Sideneck Turtle
3  BREED                    Greek Tortoise
4  BREED                Eastern Box Turtle
5  BREED   African Aquatic Sideneck Turtle
6  BREED                Eastern Box Turtle
7  BREED                    Greek Tortoise
8  BREED   African Aquatic Sideneck Turtle

        0                      1
0  SOURCE     found in Lake Erie
1  SOURCE       hatched in house
2  SOURCE     found in Lake Erie
3  SOURCE       hatched in house
4  SOURCE   surrendered by owner
5  SOURCE       hatched in house
6  SOURCE   surrendered by owner
7  SOURCE   surrendered by owner
8  SOURCE     found in Lake Erie

In [97]:
final_df['sex'] = sex_split.get(1)
final_df['breed'] = breed_split.get(1)
final_df['source'] = source_split.get(1)

final_df

,name,age,weight,sex,breed,source
0,Aesop,7.0,6.0,Female,African Aquatic Sideneck Turtle,found in Lake Erie
1,Caesar,2.0,4.0,Male,Greek Tortoise,hatched in house
2,Sulla,1.0,1.0,Male,African Aquatic Sideneck Turtle,found in Lake Erie
3,Spyro,6.0,3.0,Female,Greek Tortoise,hatched in house
4,Zelda,3.0,2.0,Female,Eastern Box Turtle,surrendered by owner
5,Bandicoot,2.0,2.0,Male,African Aquatic Sideneck Turtle,hatched in house
6,Hal,1.0,1.5,Female,Eastern Box Turtle,surrendered by owner
7,Mock,10.0,10.0,Male,Greek Tortoise,surrendered by owner
8,Sparrow,1.5,4.5,Female,African Aquatic Sideneck Turtle,found in Lake Erie

In [102]:
print("THANK YOU!")

THANK YOU!